
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.jpg" class="navbar-brand-img" alt="...">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [ngClass]="{active: activeTab === 'home'}">
          <a class="nav-link" (click)="setActiveTab('home')" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item hovered dropdown" [ngClass]="{active: activeTab === 'about'}">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          (click)="setActiveTab('about')"
          >
            About
          </a>
          <ul class="dropdown-menu uk-animation-fade" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">
              <a class="dropdown-link" data-toggle="dropdown" routerLink="/about" aria-expanded="true">
                Me
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" [ngClass]="{active: activeTab === 'career'}">
          <a class="nav-link" (click)="setActiveTab('career')" routerLink="/career">Career</a>
        </li>
        <li class="nav-item" [ngClass]="{active: activeTab === 'contact'}">
          <a class="nav-link" (click)="setActiveTab('contact')" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


