nav.navbar {
    padding: 1.25rem 0 !important;
}

.navbar >.container {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #506690 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #335eea !important;
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    outline: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .navbar-nav .dropdown>.dropdown-menu {
        left: 50%;
        -webkit-transform: translate3d(-50%,10px,0);
        transform: translate3d(-50%,10px,0);
    }

    .navbar-nav .hovered>.dropdown-menu {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        transition-property: opacity,visibility,transform,-webkit-transform;
        -webkit-transform-origin: top center;
        transform-origin: top center;
    }

    .navbar-nav .dropdown-menu {
        z-index: 1030;
        display: block!important;
        visibility: hidden;
        opacity: 0;
    }

    .navbar-nav .dropdown-menu {
        box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
    }

    .dropdown-menu {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }

    .navbar-nav .dropdown.show>.dropdown-menu, .navbar-nav .dropright.show>.dropdown-menu {
        visibility: visible;
        opacity: 1;
    }

    .navbar-nav .dropdown.show>.dropdown-menu {
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
    }
}

.dropdown-item {
    width: auto;
    min-width: 100%;
    display: block;
    padding: 0 1.75rem;
    clear: both;
    font-weight: 400;
    color: #506690;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-link {
    color: inherit;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 14rem;
    padding: 1.625rem 0;
    margin: 0 0 0;
    font-size: .9375rem;
    color: #161c2d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(22,28,45,.15);
    border-radius: .375rem;
    box-shadow: 0 0.5rem 1.5rem rgba(22,28,45,.1);
}

.dropdown-link:hover {
    outline: 0;
}

.dropdown-link:hover {
    text-decoration: inherit;
}

.dropdown-item+.dropdown-item {
    margin-top: .45rem;
}

.navbar-nav .nav-link {
    font-weight: 600;
}