<section class="pt-4 pt-md-11">
  <div class="container uk-animation-fade">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">

        <!-- Image -->
        <img src="assets/images/illustration-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="hk-grostek-medium display-3 text-center text-md-left">
          Welcome to <span class="text-primary">Career Page</span>. <br>
          Develop anything.
        </h1>

        <!-- Text -->
        <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
          Build a beautiful, modern website with flexible Bootstrap components built from scratch.
        </p>

        <!-- Buttons -->
        <div class="hk-grostek-medium text-center text-md-left">
          <a href="#" class="btn btn-primary shadow lift mr-1">
            View all pages <i-feather name="arrow-right" class="ml-3"></i-feather>
          </a>
          <a href="#" class="btn btn-primary-soft lift">
            Documentation
          </a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>